doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Community
        link(rel="shortcut icon" href="../images/coffee\ leaf\ deseasies\ detection.png")
        style 
            include ../css/community.css
            include ../css/footer.css
            include ../css/navigation.css

    body 
        -var user='null'
        -var Pass='null'
        -if(mail)
            -user=mail
        -if(Password)
            -Pass=Password
        div(id='userprofile' onclick="window.location='/userprofile'")
            img(id="img_id_for_user" src=userpic)

        div(id='navigation_right' style='display:none') 
            .alinkr.alink
                a(href="/?username="+user+"&Password="+Pass) Home 
            .alinkr.alink
                a(href="/about?username="+user+"&Password="+Pass) About
            .alinkr.alink
                a(href="/checkde?username="+user+"&Password="+Pass) Check-Leaf
            .alinkr.alink
                a(href="/bloge?username="+user+"&Password="+Pass) Blog
            .alinkr.alink 
                a(href="/community?username="+user+"&Password="+Pass) Community
            .alinkr.alink
                a(href="/contactus?username="+user+"&Password="+Pass) Report
            .alinkr.alink
                a(href="/userprofile?username="+user+"&Password="+Pass) User LogIn
            #profilePic   
                img(id="img_id_for_user_navi_R" src=userpic) 
                //-this also used in js for adding comment

        #NeviGationbarContainer
            #icon.alink
            #home.alink
                a(href="/?username="+user+"&Password="+Pass) Home
            #about.alink
                a(href="/about?username="+user+"&Password="+Pass) About
            #Checkdecission.alink
                a(href="/checkde?username="+user+"&Password="+Pass) Check-Leaf
            #blg.alink
                a(href="/bloge?username="+user+"&Password="+Pass) Blog
            #Community.alink 
                a(href="/community?username="+user+"&Password="+Pass) Community
            #contactUS.alink 
                a(href="/contactus?username="+user+"&Password="+Pass) Report

            #dots
                div(id='dot1' class='dotclass' onclick='toggle_hide_navigation()')
                div(id='dot2' class='dotclass' onclick='toggle_hide_navigation()') 
                div(id='dot3' class='dotclass' onclick='toggle_hide_navigation()')
                div(id='dot4' class='dotclass' onclick='toggle_hide_navigation()')


        div(id='new_us_post_section_toggle_hide' ) 
            button(id='btn_toggle_hide' onClick='toggle_hide()') New Post
        #new_us_post_section(style="display:none")
            textarea(type="text" id='textarea_for_post' placeholder='Post new think' name='text' maxlength="1500")
            input(type="file" name='imges' id='user_post_pic')
            input(type="submit" value="Post" id="post" onclick="send_to_server_and_apend_child()")
        #all_post_sections 
            #all_post_section
                if(post_data)
                    -var i=0;
                    each n in post_data.reverse()
                        hr
                        .post_data_class

                            .user_detail
                                .post_user_pic
                                    img(class='user_pic' src=n.userpic)
                                .post_user_name 
                                    p(class='username') @#{n.username}
                                    -if(n.time)
                                        p(class='time_class')=n.time

                            .post_img_and_message_container 
                                -if(n.pic)
                                    if(n.pic!='null')
                                        .post_pic
                                            img(class='all_post_pic' src=n.pic)
                                .post_message
                                    p(class='aii_post_message')=n.text

                            //- comment Section
                            div(id='all_comment'+i)
                                -if(n.comment)
                                    each eachcomment in n.comment
                                        .comment_container
                                            .comment_users
                                                .comment_pic
                                                    img(class='comment_user_class' src=eachcomment.comment_user_pic)
                                                .comment_user
                                                    p(class='comment_user_name') @#{eachcomment.comment_username} 
                                                    <span class='time_comment'>#{eachcomment.time}</span>
                                            .comment_text
                                                p(class='comment_message_class')=eachcomment.comment_user_text

                            .new_comment_section
                                input(type="text" placeholder='comment' id="comment_text"+i class='input_comment_class')
                                button( id="comment"+i onclick="User_add_comment(this.value,"+i+")" value=n._id class='btn_comment_class') Confirm
                            -i=i+1






        #footer
            #row
                #blogs(onclick="location.href='/bloge'")
                    #blogcon 
                        h1 Blogs
                    #first3blogs
                        -var flag=0
                        each n in records.reverse()
                            span=n.title
                            -flag=flag+1
                            if(flag==3)
                                -break
                            else 
                #contus 
                    #contcon
                        h1 Contact US
                    #info1 
                        h1 chillofficialop@gmail.com
                    #info2 
                        h1 +8801400298344
                    #info3
                        h1 +8801989890916
                #fllowus
                    #flus
                        h1 Follow US  
                        //- edit link
                    #icon1.ic(onclick="location.href='https://twitter.com/LeafRobust'")  
                    #icon2.ic(onclick="location.href='https://www.linkedin.com/in/robusta-coffee-leaf-disease-detection-a03633231'")
                    #icon3.ic(onclick="location.href='https://www.instagram.com/invites/contact/?i=ww811g5p6egd&utm_content=nxqvycp'")
                    #icon4.ic(onclick="location.href='https://www.facebook.com/Robust-Coffee-Leaf-Disease-Detection-110733434487077/?ref=pages_you_manage'")
            #copyrigth 
                h1 All right reserve's to ::chillofficialop@gmail.com ::2022


        script 
            include ../js/dots.js
            include ../js/community.js
        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous") 
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous") 