doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        style 
            include ../css/logon.css
    body 
        #form_container
            form( method="post" name="create_body" enctype= 'multipart/form-data' onSubmit="return aleart(event)" oninput="Password2.setCustomValidity(Password.value != Password2.value ? 'Passwords do not match.' : '')") 
                h1 Create Account
                input(type="text" id="aname" name="username" placeholder="user name" required)
                input(type="mail" id="mail" name="mail" placeholder="Mail" required)
                input(type="password" id="apass" name="Password" placeholder="Password" required)
                input(type="password" id="reinter_pass" name="Password2" placeholder="Reinter Password"  required)
                input(type="file" id='picture' name='picture' accept="image/png, image/jpeg" required)
                button(id="btn") Submit
                p Already have a account <strong><a href="/userprofile"> Login </a></strong> 

        script
            include ../js/user_logon.js
        script(src="//cdn.jsdelivr.net/npm/sweetalert2@10")
        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous")
        script(src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous")